<h1 class="text-center">
<% if @searching %>
Book a Spot
<% else %>
Spots
<% end %>
</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% @spots.each do |spot| %>
      <div class="card" style="background-color:#AFBFC0;">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <% if @searching %>
          <%= link_to spot.site_name, new_spot_booking_path(spot) %>
          <% else %>
          <%= spot.site_name %>
          <% end %>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Add a New Spot", new_spot_url(@spot), class: "btn btn-primary btn-lg" %>

