.column {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 10px;
}

.booking_row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

h3.booking {
  margin-left: 20px;
}

.booking_card {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
  background-color: #D3D3D3;
  margin: 10px;
}

ul {
  display: inline-block;
  list-style-type: none;
}
