<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>


Car bookings:
<br>
<% @car_bookings.each do |car_booking| %>
  <%= car_booking %>
  <br>
<% end %>

Spot Bookings:
<br>
<% @spot_bookings.each do |spot_booking| %>
  <%= spot_booking %>
  <br>
<% end %>

