.card {
  height: 175px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 10px;
  box-shadow: 0 0 8px gray;
}
.card-user {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 200px;
  height: 150px;
  background-size: cover;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 30px;
  left: 220px;
  top: 20px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 18px;
  font-weight: lighter;
  color: black;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.booking-description {
  position: absolute;
  left: 70px;
  right: 30px;
  top: 20px;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}
