.spotpagebanner {
  color: black;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  background-position-y: -300px;
  opacity: 0.7;
}
