@import url('https://fonts.googleapis.com/css?family=Andika');
@import url('https://fonts.googleapis.com/css?family=Andika|Jura');

h1, h3 {
  font-family: 'Andika', sans-serif;
}

p {
  font-family: 'Jura', sans-serif;
}

ul {
  font-family: 'Jura', sans-serif;

}
